*
{
    word-wrap: break-word;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}
body
{
    margin: 0;
    padding: 0;
}
/*  header  */
header
{
    width: 95%;
    height: 90px;
    margin-left: 50px;
}
#menu
{
    display: flex;
    justify-content: space-between;
}
.logo
{
    margin-top: 20px;
}
nav ul li
{
    list-style: none;
    display: inline-block;
    margin-top: 50px;
    margin-right: 60px;
}
nav ul li a
{
    text-decoration: none;
    color: black;
    font-size: 18px; 
    padding-top: 40px;
    padding-right: 20px;
    padding-left: 20px;
}
.undermenu
{
    margin-left: 50px;
}
.undermenu p
{
    margin-top: 10px;
}
nav ul li a:hover
{
    border-top: 2px solid #0065FC;
    color: #0065FC;
}
/*  Barre de recherche  */
#search
{
    display: flex;
    margin-top: 20px;
}
.recherche::placeholder
{
    color: black;
}
.map
{
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.iconrech
{
    display: none;
}
.recherche
{
    height: 50px;
    font-size: 18px;
    border: solid #F2F2F2 2px;
    font-weight: bold;
}
.rechercher
{
    background-color: #0065FC;
    color: white;
    height: 50px;
    width: 100px;
    border: none;
    font-weight: bold;
    font-size: 16px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
/*  FILTRES  */
#filtres
{
    display: flex;
    margin-top: 10px;
    width: 100%;
}
.filtres
{
    width: 100%;
    display: flex;
    margin-left: 30px;
    margin-top: 20px;
    flex-wrap: wrap;
}
.allfilters
{
    display: flex;
}
.filtreeconomique
{
    font-weight: bold;
    display: flex;
    border: 2px #d9d9d9 solid;
    border-radius: 50px;
    margin-right: 20px;
    text-decoration: none;
    width: 170px;
    margin-bottom: 15px;
}
.filtrefamilial
{
    font-weight: bold;
    display: flex;
    border: 2px #d9d9d9 solid;
    border-radius: 25px;
    margin-right: 20px;
    text-decoration: none;
    width: 140px;
    margin-bottom: 15px;
}
.filtreromantique
{
    font-weight: bold;
    display: flex;
    border: 2px #d9d9d9 solid;
    border-radius: 25px;
    margin-right: 20px;
    text-decoration: none;
    width: 170px;
    margin-bottom: 15px;
}
.filtreanimaux
{
    font-weight: bold;
    display: flex;
    border: 2px #d9d9d9 solid;
    border-radius: 25px;
    margin-right: 20px;
    text-decoration: none;
    width: 230px;
    margin-bottom: 15px;
}
.icon
{
    height: 50px;
    width: 50px;
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -2px;
    margin-top: -2px;
    margin-bottom: -2px;
}
.txteconomique
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    color: black;
}
.txtanimaux
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    color: black;
}
.txtfamilial
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    color: black;
}
.txtromantique
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    color: black;
}

.ft
{
    margin-top: 32px;
}
.hover:hover
{
    background-color: #0065FC;
    border: 2px white solid;
    transition: 1s;
}
/*  info  */
#info {
	display: flex;
	align-items: center;
    margin-top: 20px;
}
#info p
{
	margin-top: 5px;
    margin-left: 10px;
}

#cercle 
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    min-width: 40px;
    border: 2px #d9d9d9 solid;
    border-radius: 50%;
}
#info i 
{
    color: #0065FC;
}
/* heb à marseille */
.txthebergement
{
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#container
{
    display: flex;
    width: 100%;
}
#hebergement
{
    margin-left: 50px;
    margin-top: 30px;
    width: 61%;
    height: 650px;
    background-color: #F2F2F2;
    border: none;
    border-radius: 25px;
}
.bloc2hebergement
{
    display: flex;
    justify-content: space-around;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
}
.bloc1hebergement
{
    display: flex;
    justify-content: space-around;
    margin-left: 10px;
    margin-right: 10px;
}
.room
{
    height: 210px;
    width: 28%;
    margin-top: 20px;
    background-color: white;
    border: white 4px solid;
    border-radius: 20px;
    text-decoration: none;
}
.imghebergement
{
    height: 120px;
    width: 100%;
    border: none;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}
.imghebsmall
{
    display: none;
}
.titleh2
{
    margin-top: 40px;
    margin-left: 20px;
}
.star1
{
    margin-bottom: 15px;
}
.stars
{
    display: flex;
}
.starblue
{
    color: #0065FC;
}
.stargrey
{
    color: #a59595;
}
.ap
{
    margin-top: 40px;
    margin-left: 20px;
}
.ap a
{
    text-decoration: none;
    margin-left: 20px;
    color: black;
    font-size: large;
    font-weight: bold;
}
.ap a:hover
{
    color: #0065FC;
}
.black
{
    color: black;
}
/*  les plus populaires */
#lpp
{
    margin-top: 30px;
    width: 30%;
    height: 650px;
    background-color: #F2F2F2;
    border: none;
    border-radius: 20px;   
    margin-left: 2.5%;
}
.roomlpp1
{
    height: 155px;
    width: 140px;
    border: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    display: flex;
    object-fit: cover;
}
.roomlpp1small
{
    display: none;
}
.roomlpp
{
    display: flex;
    height: 30%;
    width: 90%;
    background-color: white;
    margin-left: 5%;
    margin-top: 20px;
    border: none;
    border-radius: 20px;
}
.txtlpp
{
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.titlegraph
{
    display: flex;
    justify-content: space-between;
}
.graph
{
    margin-top: 45px;
    margin-right: 20px;
    font-size: 20px;
    text-decoration: none;  
}
.bold
{
    font-weight: bold;
}
.txtdeco
{
    text-decoration: none;
    color: black;
}
.graph a
{
    color: black;
}
.graph a:hover
{
    color: #0065FC; 
}
/*  act à marseille  */
#activites
{
    height: 620px;
    width: 93.5%;
    margin-left: 50px;
    margin-top: 80px;
}
#activitesleft
{
    display: flex;
    width: 50%;
    height: 430px;
    margin-top: 20px;
}
#activitesright
{
    margin-left: 30px;
    display: flex;
    width: 50%;
    height: 430px;
    margin-top: 20px;
}
#blocactivites
{
    display: flex;
}
.titleactivites
{
    margin-left: 0px;
}
.block
{
    width: 45%;
    height: 430px;
    margin-left: 7%;
}
.vp
{
    width: 45%;
    height: 430px;
    border-radius: 25px;
    box-shadow: 3px 3px 3px rgb(163, 163, 196);
}
.img1small
{
    display: none;
}
.img2small
{
    display: none;
}
.img3small
{
    display: none;
}
.img4small
{
    display: none;
}
.img5small
{
    display: none;
}
.img1
{
    width: 100%;
    height: 380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}
.fodp
{
    width: 100%;
    height: 220px;
    border-radius: 20px;
    box-shadow: 3px 3px 3px rgb(163, 163, 196);
}
.img2
{
    width: 100%;
    height: 170px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}
.idf
{
    margin-top: 30px;
    width: 100%;
    height: 180px;
    border-radius: 20px;
    box-shadow: 3px 3px 3px rgb(163, 163, 196);
}
.img3
{
    width: 100%;
    height: 130px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}
.pndc
{
    width: 45%;
    height: 430px;
    border-radius: 20px;
    box-shadow: 3px 3px 3px rgb(163, 163, 196);
}
.nddlg
{
    width: 100%;
    height: 180px;
    border-radius: 20px;
    box-shadow: 3px 3px 3px rgb(163, 163, 196);
}
.img4
{
    width: 100%;
    height: 130px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}
.img5
{
    width: 100%;
    height: 170px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}
.pl
{
    margin-top: 20px;
    width: 100%;
    height: 230px;
    border-radius: 20px;
    box-shadow: 3px 3px 3px rgb(163, 163, 196);
}
.black1
{
    height: 50px;
    color: black;
    display: flex;
    margin-left: 10px;
    align-items: center;
}
.txtdeco2
{
    text-decoration: none;
    color: black;
}
/*  footer  */
#footer
{
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: space-around;
    background-color: #F2F2F2;
}
.foot
{
    margin-top: 50px;
}
.titleh3
{
    margin-bottom: 20px;
}
.br
{
    margin-top: 8px;
}
.br a:hover
{
    color: #0065FC; 
}