*
{
    font-family: 'Raleway', sans-serif;
}
#menu
{
    min-height: 50px;
    max-height: 60px;
    width: 100%;
}
.menu2
{
    display: flex;
    justify-content: space-between;
}
.logo
{
    height: 60px;
}
nav ul li
{
    list-style: none;
    display: inline-block;
    padding: 20px 50px;
    position: relative;
}
nav ul li a
{
    text-decoration: none;
    color: rgb(130, 130, 141);
}
a:focus
{
    border-top: solid #0000ff 3PX;
}
.r
{
    width: 400px;
    border-radius: 10px;
}
.map
{
    height: 50px;
    width: 50px;
}
.search
{
    height: 50px;
    width: 230px;
    font-size: 18px;
    color: black;
    font-weight: bold;
}
.r
{
    display: flex;
}
.map
{
    flex: left;
    border: ;
}
.search
{
    padding: 20px;
}