#container
{
    width: 100%;
    flex-direction: column;
}
#hebergement
{
    width: 90%;
    margin-left: 5%;
}
/*  hebergement  */
.titleg
{
    height: 50px;
    width: 100%;
}
#lpp
{
    height: 350px;
    width: 90%;
    margin-left: 5%;
}
.lppp
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 300px;
    width: 100%;
    margin-top: 20px;
}
.td
{
    height: 210px;
    width: 28%;
    margin-top: 20px;
    background-color: white;
    border: white 4px solid;
    border-radius: 20px;
    text-decoration: none;
}
.roomlpp
{
    height: 190px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 0;
    margin-left: 0;
}
.roomlpp1
{
    width: 100%;
    height: 110px;
    margin-top: 0;
    margin-left: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 0;
    border-top-right-radius: 20px;
}
.graph
{
    margin-right: 30px;
}
/*  lpp  */
#activites
{
    height: 620px;
    width: 90%;
    margin-left: 5%;
    margin-top: 50px;
}
