header
{
    width: 100%;
    height: 100px;
    margin-left: 0;
}
#menu
{
    display: flex;
    flex-direction: column;
}
.logo
{
    height: 60px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 0;
}
.hebact
{
    width: 100%;
    margin-top: 20px;
}
.hebergements
{
    width: 50%;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: #f2f2f2 2px solid;
}
.activites
{
    width: 50%;
    text-align: center;
    border-bottom: #f2f2f2 2px solid;
}
nav ul li
{
    list-style: none;
    display: inline-block;
    margin-top: 0;
    margin-right: 0;
}
nav ul
{
    display: flex;
    justify-content: space-around;
    align-items: space-around;
}
nav ul li a
{
    text-align: center; 
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
}
nav ul li a:hover
{
    border-top: none;
}
.hebergements:hover
{
    border-bottom: 2px solid #0065FC;
    color: #0065FC;
}
.activites:hover
{
    border-bottom: 2px solid #0065FC;
    color: #0065FC;
}
/*  menu  */
.br
{
    display: flex;
    flex-direction: column;
}
.top
{
    padding-left: 15px;
    margin-left: 0;
    margin-top: 30px;
    width: 90%;
}
.top p
{
    margin-top: 20px;
}
/* -- */
#search
{
    height: 50px;
}
.iconrech
{
    display: flex;
    justify-content: center;
}
.rech
{
    display: none;
}
.rechercher
{
    width: 50px;
    height: 50px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}
.rechercher1
{
    width: 100px;
    height: 100px;
}
.recherche1
{
    margin-right: -15px;
}
/*  Barre de recherche  */   
#filtres
{
    display: flex;
    flex-direction: column;
    margin-top: 0;
}
.filtres
{
    flex-direction: column;
    margin-left: 0;
}
/* FILTRES */
#info
{
    margin-top: 0;
}
#info p
{
    margin-left: 5px;
}
/*   info   */
#container
{
    flex-direction: column-reverse;
}
#lpp
{
    margin-top: 30px;
    width: 100%;
    height: 650px;
    background-color: #F2F2F2;
    border: none;
    border-radius: 0;   
    margin-left: 0;
}
.lppp
{
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
}
.txt2
{
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.td
{
    width: 90%;
    height: 25%;
    margin-top: 10px;
}
.roomlpp
{
    display: flex;
    flex-direction: row;
    height: 100%;
}
.roomlpp1small
{
    width: 100%;
    height: 100%;
    border: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    display: flex;
    object-fit: cover;
}
.roomlpp1
{
    display: none;
}
.roomlpp12
{
    width: 40%;
    height: 100%;
}
.txt2
{
    width: 60%;
}
/*   lpp   */
.room1small
{
    display: flex;
    height: 140px;
    width: 100%;
    border: none;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}
.room1
{
    display: none;
}
.house
{
    display: flex;
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
    justify-content: center;
    align-items: center;
}
.house2
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
}

#hebergement
{
    margin-left: 0;
    margin-top: 0;
    width: 100%;
    height: 1700px;
    border: none;
    border-radius: 0;
    background-color: white;
}
.room
{
    width: 90%;
    height: 220px;
    margin-top: 30px;
    box-shadow: 3px 3px 3px 3px #F2F2F2;
}
.room1
{
    height: 135px;
}
.ap
{
    margin-top: 20px;
    margin-left: 10px;
}
/*   hebergement  */
#container1
{
    display: flex;
    flex-direction: column;
    width: 100%;
}
#containera
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 30px;
    height: 850px;
}
#containerb
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    margin-top: 0;
    width: 100%;
    height: 850px;
}
#activites
{
    flex-direction: column;
    width: 100%;
    height: 1800px;
    margin-left: 0;
    margin-top: 10px;
    justify-content: space-between;
    align-items: space-between;
}
.fodp
{
    width: 90%;
    height: 250px;
}
.idf
{
    margin-top: 30px;
    width: 90%;
    height: 250px;
}
.vp
{
    width: 90%;
    height: 250px;
}
.pndc
{
    width: 90%;
    height: 250px;
}
.nddlg
{
    width: 90%;
    height: 250px;
}
.pl
{
    margin-top: 30px;
    width: 90%;
    height: 250px;
}

.block
{
    width: 100%;
    height: 800px;
    margin-left: 0;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img1
{
    display: none;
}
.img2
{
    display: none;
}
.img3
{
    display: none;
}
.img4
{
    display: none;
}
.img5
{
    display: none;
}
.img1small
{
    display: flex;
    width: 100%;
    height: 200px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow: hidden;
    object-fit: cover;
}
.img2small
{
    display: flex;
    width: 100%;
    height: 200px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow: hidden;
    object-fit: cover;
}
.img3small
{
    display: flex;
    width: 100%;
    height: 200px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow: hidden;
    object-fit: cover;
}
.img4small
{
    display: flex;
    width: 100%;
    height: 200px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow: hidden;
    object-fit: cover;
}
.img5small
{
    display: flex;
    width: 100%;
    height: 200px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}
.title0
{
    margin-left: 20px;
}
/*   activites   */
#footer
{
    display: flex;
    flex-direction: column;
    height: 450px;
    width: 100%;
    padding-bottom: 50px;
}
.foot
{
    margin-left: 20px;
}